#header {
    -fx-background-color: #F4D03F;
    -fx-pref-height: 50;
    -fx-font-family: sans-serif;
}

#home{
    -fx-background-color: none;
}

#changePassword{
    -fx-background-color: none;
}

#oldPasswordField, #newPasswordField, #newPasswordSecond {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-padding: 5 10 5 10;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

#name{
    -fx-padding: 0px 0px 0px 15px;
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
}

#info{
    -fx-font-size: 15px;

}