#nameForum {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-family: "Courier New";
    -fx-font-size: 13px;
    -fx-padding: 5 10 5 10;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}
#descriptionForum {
    -fx-font-family: "Courier New";
    -fx-font-size: 13px;
    -fx-border-color: #007ACC;
    -fx-min-height: 150px;
    -fx-max-height: 200px;
    -fx-border-radius: 5px;
}
#search {
    -fx-text-fill: white;
    -fx-background-color: #ffdf52;
    -fx-max-width: 60px;
    -fx-margin-top: 10px;
}
#msg {
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}
#msgCourse {
    -fx-font-size: 12px;
    -fx-padding: 0 0 10 0;
}
#containerMsg {
    -fx-font-family: "Courier New";
    -fx-background-color: #FFFFF7;
    -fx-font-size: 12px;
    -fx-max-width: 350px;
    -fx-max-height: 150px;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10px;
    -fx-alignment: center;
}
#name {
    -fx-padding: 0 0 10 0;
}
#description {
    -fx-padding: 10 0 10 0;
}
#general {
    -fx-background-color: #FBFCF5;
    -fx-max-width: 300px;
    -fx-max-height: 600px;
    -fx-spacing: 6;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 5px;
}
#choiceBox .context-menu{
    -fx-background-color:#d1d1d1;
}

#choiceBox .menu-item:focused{
    -fx-background-color: #F4D03F;
}
#choiceBox {
    -fx-max-width: 250;
    -fx-max-height: 40;
    -fx-background-color: #ffdf52;
    -fx-border-color: #ffdf52;
    -fx-border-radius: 5px;
    -fx-margin-bottom: 10px;
}

