#ForumContainer{
    -fx-background-color: blue;
}
#Info{
    -fx-max-width: 350px;
    -fx-background-color: green;
}
#InfoLabel{
    -fx-min-width: 200px;
}
#ChatContainer{
    -fx-background-color: red;
    -fx-min-height: 500px;
    -fx-max-width: 350px;
}