#Info{
    -fx-max-width: 350px;


}

#InfoLabel{
    -fx-min-width: 200px;
    -fx-pref-height: 30px;
}
#add{
    -fx-margin: 10px;
    -fx-background-color: #ffdf52;
}

#ChatContainer{
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: transparent #474747 transparent transparent;

}

.scroll-pane{
    -fx-background-color: transparent;
}

#ForumContent{

}

    -fx-background-color: red;
    -fx-min-height: 500px;
    -fx-max-width: 350px;
}

#BoxText{
    -fx-min-height: 80px;
    -fx-padding: 10px;
}

#UserName{
    -fx-font-size: 14px ;
    -fx-font-weight: bold;
}

#UserName, #Msg{
    -fx-padding: 2px 4px 2px 10px;
}

#send{
    -fx-max-height: 200px;
    -fx-background-color:#ffdf52;
}

.menu-item{
    -fx-background-color: #ffdf52;
}

.menu-item .label{
    -fx-text-fill: black;
}
